.swiper-filter-next,
.swiper-filter-prev {
    cursor: pointer
}

.swiper-filter-next:before,
.swiper-filter-prev:before {
    position: absolute;
    top: 7px;
    z-index: 2;
    padding: 5px;
    font-weight: 700;
    font-size: 20px
}

.swiper-filter-prev:before {
    content: "<";
    left: 0
}

.swiper-filter-next:before {
    content: ">";
    right: 0
}

.swiper-button-disabled {
    color: #ccc
}

.swiper-product {
    margin: 20px auto;
    padding-bottom: 30px
}

.swiper-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.filterLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 23%;
    border-radius: 5px;
    border: 1px solid #df1359;
    padding: 10px 5px;
    margin: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer
}

.filterLink:hover {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    background-color: #df1359
}

.swiper-active {
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    color: #fff;
    background-color: #df1359
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: -30px
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 30px
}

@media screen and (max-width:376px) {
    .filterLink {
        width: 90%
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 1%
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 1%
    }
}

.swiper-product .swiper-slide {
    border: none;
    padding: 10px
}

.swiper-scrollbar {
    display: block !important
}

.swiper-scrollbar-drag {
    cursor: pointer !important
}

.swiper-container-horizontal>.swiper-scrollbar {
    height: 6px
}

@media screen and (max-width:1025px) {

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: 0
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: 0
    }
}

@media screen and (max-width:415px) {
    .filterLink {
        width: 90%
    }
}